@charset "UTF-8";

:root{
    --azulEscuro:#2C3E50;
    --azulClaro:#3498DB;
    --branco:#ECF0F1;
    --vermelho:#E74C3C;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* footer */
footer{
    width: 100%;
    background-color: #2c455e;
    font-size: 0.9em;
    padding: 20px;
}
/* logo e nome footer */
footer div.logo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
footer div.logo-footer img{
    display: inline-block;
    width: 90px;
}
footer div.logo-footer h2{
    display: inline-block;
    color: var(--branco);
}
/* Div links */
footer div.links{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 0px 50px;
}

footer div.links h3{
    font-size: 1.5em;
    color: var(--branco);
}

/* Links */
footer div.links-itens{
    padding-top: 25px;
}
footer div.links-itens ul{
    list-style: none;
}
footer div.links-itens ul li{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
}
footer div.links-itens ul li a{
    text-decoration: none;
    color: var(--branco);
}
img#whats{
    border-radius: 50%;
}
/* Borda em baixo dos elementos */
footer div.logo-footer, footer div.links{
    padding-bottom: 25px;
    border-bottom: 1.5px solid var(--branco);
    margin: 0px 40px;
}